
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

html, body {
    margin: 0;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: hsl(0, 0%, 12%);
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    min-width: 340px;
    overflow: hidden;
    border-radius: 15px;
}

.card img {
    border-radius: 50%;
    width: 95px;
    height: 95px;
    margin: 25px 0;
}

.card .name {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 25px;
}

.card .location {
    color: hsl(75, 94%, 57%);
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}

.card .bio {
    color: hsl(0, 0%, 80%);
    font-weight: normal;
    font-size: 14px;
    margin-top: 15px;
}

.card .social-link {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card .social-link .button-social {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 20%);
    padding: 10px 0;
    margin: 5px;
    border-radius: 5px;
}

.card .social-link .button-social:hover {
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
    color: hsl(0, 0%, 8%);
}

